
# Ignore bundler config
/.bundle
# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-*
# Ignore all logfiles
/log/*.log
/log/*.log.*
# Ignore .env file
.env
# Ignore tmp folder
/tmp/*
# Ignore node_modules
/node_modules
# Ignore macOS system files
.DS_Store

